// 菜单栏背景
$bg_sidebar: #001529;
// 菜单栏颜色
$color_sidebar: hsla(0,0%,100%,.65);
// 菜单栏选中颜色
$color_sidebar_active: #1890ff;
// 菜单栏选中背景
$bg_sidebar_active: #001529;
// 菜单栏鼠标悬停颜色
$color_sidebar_hover: #fff;
// 菜单栏鼠标悬停背景
$bg_sidebar_hover: #000;
// 顶栏背景
$bg_navbar: #fff;
// 顶栏颜色
$color_navbar: #fff;
